$background-color: #000000;
$digit-off-color: #303030;
$digit-color: #ff1010;
$glow-effect: blur(0.1rem) drop-shadow(0 0 1rem darken($digit-color, 15%));
$tilt: 10deg;

.time-display {
  position: relative;
  display: flex;
  flex-direction: row;
  aspect-ratio: 3;
  background-color: $background-color;
  justify-content: space-between;

  .digit {
    position: relative;
    aspect-ratio: 0.55;
    transform: skew(-$tilt);
    margin: 2% 0;

    &:first-child {
      margin-left: 3%;
    }
    &:last-child {
      margin-right: 3%;
    }

    .segment {
      position: absolute;

      .fill {
        width: 100%;
        height: 100%;
        background-color: $digit-off-color;
      }

      &.on {
        filter: $glow-effect;
        .fill {
          background-color: $digit-color;
        }
      }

      &.horizontal {
        height: 10%;
        left: calc(100% / 0.55 * 0.075);
        right: calc(100% / 0.55 * 0.075);

        .fill {
          clip-path: polygon(
            0 50%,
            12.5% 0,
            87.5% 0,
            100% 50%,
            87.5% 100%,
            12.5% 100%
          );
        }

        &.top {
          top: 0;
        }
        &.center {
          top: 45%;
        }
        &.bottom {
          bottom: 0;
        }
      }

      &.vertical {
        width: calc(100% / 0.55 * 0.1);
        height: 40%;

        .fill {
          clip-path: polygon(
            50% 0,
            100% 12.5%,
            100% 87.5%,
            50% 100%,
            0 87.5%,
            0 12.5%
          );
        }

        &.top {
          top: 7.5%;
        }
        &.bottom {
          bottom: 7.5%;
        }
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
  }

  .divider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate($tilt);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25%;
    filter: $glow-effect;

    .dot {
      height: 10%;
      aspect-ratio: 1;
      background-color: $digit-color;
      border-radius: 100%;
    }
  }
}
